{% extends 'base.html' %}
<html>

<head>
    {% block title %}Products{% endblock %}
</head>
<body>
    {% block content %}

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">

    <h1>Soft deleted Available Stock List</h1>
    <form action="{% url 'download_csv' 'deleted' %}" method="get">                        
        <input type="submit" value="Download" class="btn btn-success">
    </form>

</div>
    <hr>


    {% if Product %}
    <table class="table table-dark table-striped" style="border-collapse: collapse; width: 60%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Is Deleted</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <th>Deleted By</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for prod in Product %}
            <tr>
                <td>{{prod.id}}</td>
                <td>{{prod.name}}</td>
                <td>{{prod.description}}</td>
                <td>{{prod.price}}</td>
                <td>{{prod.qty}}</td>
                <td>{{prod.is_deleted}}</td>
                <td>{{prod.created_at}}</td>
                <td>{{prod.updated_at}}</td>
                <td>{{prod.deleted_by}}</td>

                <td style="border: 1px solid black; padding: 8px;">
                <form action="{% url 'hard_delete_prod' prod.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Del Permentaly" class="btn btn-danger">
                </form> 
                
                

                    <form action="{% url 'make_available' prod.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Restore" class="btn btn-success">

                </form> 
                
                </td> 

            </tr>
            {% endfor %}
        <tbody>

    </table>

    {% else %}
    No Record Found
    {% endif %}
{% endblock %}
</body>

</html>






<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>products List</title>
</head>
<body>
    <h1>Welcome, Users</h1>
    <ul>
        {% for prod in Product %}     
           why Product {P capital}  
        <li>{{ prod }}</li>
        {% endfor %}
    </ul>
</body>
</html>  -->